<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span6">
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :slug %>
        <%= f.text_field :slug %>
      </div>
      <div class="field">
        <%= f.label :author %>
        <%= f.text_field :author %>
      </div>
      <div class="field">
        <%= f.label :short_author %>
        <%= f.text_field :short_author %>
      </div>
      <div class="field">
        <%= f.label :copyright %>
        <%= f.text_field :copyright %>
      </div>
    </div>
    <div class="span6">
      <div class="field">
        <%= f.label :ccli_number %>
        <%= f.text_field :ccli_number %>
      </div>
      <div class="field">
        <%= f.label :default_order %>
        <%= f.text_field :default_order %>
      </div>
      <div class="field">
        <%= f.label :two_columns %>
        <%= f.check_box :two_columns %>
      </div>
      <div class="field">
        <%= f.label :tags %>
        <%= f.text_field :tags %>
      </div>
      <div class="field">
        <%= f.label :notes %>
        <%= f.text_field :notes %>
      </div>
    </div>
  </div>
  <hr/>
  <div class="field">
    <%= f.label :original_key %>
    <%= f.select :original_key, Song::VALID_KEYS %>
  </div>
  <div class="field">
    <%= f.label :chords %>
    <%= f.text_area :chords %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
