%h1 Songs

%table{:class => "table table-striped"}
  %tr
    %th Title
    %th Author
    %th Tags
    %th
    %th

  -@songs.each do |song|
    %tr
      %td= link_to song.title, song
      %td= song.get_short_author
      %td= song.tags
      %td= link_to 'Edit', edit_song_path(song)
      %td= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New Song', new_song_path, :class => 'btn btn-primary'
