<!DOCTYPE html>
<html>
<head>
  <title>SongPlan</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_classes.join ' ' %>">
  <div id="wrapper">
    <div id="header">
      <%= link_to "Sign in", '#' %>
    </div>
    <div id="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
